* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 50%;
    margin: 2rem auto;
}

div {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #eee;
    padding: 0.7rem;
}

input, button {
    width: 98%;
    padding: 0.6rem 0.4rem;
    margin: 0.4rem;
}

button {
    text-decoration: none;
    border: none;
    display: block;
    cursor: pointer;
    text-align: center;
}

.success {
    background-color: rgb(54, 80, 231);
    color: rgb(255, 255, 255);
}

.delete {
    background-color: rgb(231, 54, 54);
    color: rgb(255, 255, 255);
}


table {
    background-color: #eee;
    margin-top: .9rem;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 5px 25px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}